body {
	margin: 0;
}
/*=============== Home style  =================*/
#home {
	background-image: url('../images/home.jpg');
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	position: relative;
  z-index: -1;
}
.home-content {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
	color: white;
}
.home-content h3,
.home-content .icon {
	font-size: 40px;
}
.home-content .icon {
	margin: 10px 0;
	cursor: pointer;
}
.home-content h1 {
	font-size: 60px;
}
.home-content a,
.home-content a:hover {
	color: white;
}

#about {
	padding-bottom: 20px;
}
#about h1 {
	text-align: center;
	margin: 20px;
	font-size: 45px;
}
.about-content {
	margin: 0 1%;
}
.about-column {
	display: inline-block;
	width: 31%;
	margin: 1%;
	background-color: #d2d2d2;
	border-radius: 5px;
}
#about h2 {
	font-size: 30px;
	text-align: center;
	margin: 10px 0;
}
.about-row {
	margin: 15px 0;
}
.about-row i.icon {
	width: 10%;
	font-size: 20px;
	margin-right: 0;
}
.about-row h3 {
	display: inline;
	font-size: 20px;
}
.about-row p {
	margin: 5px 0 10px 15%;
	font-size: 15px;
}
@media (max-width: 1165px) {
	.about-column {
		width: 65%;
	}
	.about-content {
		text-align: center;
	}
	.about-row {
		text-align: left;
	}
}
@media (max-width: 600px) {
	.about-column {
		width: 95%;
	}
}
/*================ Navigation style ================== */
#nav {
  position: fixed;
  right: 10vh;
  top: 8vh;
}

.menuView {
  height: 100vh;
  width: 40vh;
  right: 0vh !important;
  top: 0vh !important;
  background-color: #b3b3cc;
}

#nav > #navIconBars {
  z-index: 1;
  cursor: pointer;
}

#nav > #navIconClose {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 8vh;
  right: 45vh;
}

.hidden {
  display: none;
}
/*================ Portfolio style ================== */
#portfolio {
  height: 100vh;
}
