body {
	margin: 0;
}
/*=============== Home style  =================*/
#home {
	background-image: url('../images/home.jpg');
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	position: relative;
	z-index: -1;
}
.home-content {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
	color: white;
}
.home-content h3,
.home-content .icon {
	font-size: 40px;
}
.home-content .icon {
	margin: 10px 0;
	cursor: pointer;
}
.home-content h1 {
	font-size: 60px;
}
.home-content a,
.home-content a:hover {
	color: white;
}
/*=============== About style  =================*/
#about {
	padding: 40px 0;
	background-size: cover;
	background-position: bottom;
	background-image: url('../images/about.png');
}
#about h1 {
	text-align: center;
	font-size: 45px;
}
.about-content {
	margin: 0 1%;
}
.about-column {
	display: inline-block;
	width: 31%;
	margin: 1%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
#about h2 {
	font-size: 30px;
	text-align: center;
	margin: 10px 0;
}
#about h2,
#about h3,
#about i,
#about p {
	color: #f2f2f2;
}
.about-row {
	margin: 15px 0;
}
.about-row i.icon {
	width: 10%;
	font-size: 20px;
	margin-right: 0;
}
.about-row h3 {
	display: inline;
	font-size: 20px;
}
.about-row p {
	margin: 5px 0 10px 15%;
	font-size: 15px;
}
@media (max-width: 1165px) {
	.about-column {
		width: 65%;
	}
	.about-content {
		text-align: center;
	}
	.about-row {
		text-align: left;
	}
}
@media (max-width: 600px) {
	.about-column {
		width: 95%;
	}
}
/*================ Navigation style ================== */
#nav {
	position: fixed;
	right: 10vh;
	top: 8vh;
}

.menuView {
	height: 100vh;
	width: 40vh;
	right: 0vh !important;
	top: 0vh !important;
	background-color: #262626;
}

#nav > #navIconBars {
	z-index: 1;
	cursor: pointer;
}

#nav > #navIconClose {
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 8vh;
	right: 45vh;
}

#menu > ul {
	margin-top: 8vh;
}

#menu a {
	color: inherit;
}

#menu > ul li {
	list-style-type: none;
	margin-bottom: 5vh;
	font-size: 18px;
	color: white;
	cursor: pointer;
}

.hidden {
	display: none;
}
/*================ Portfolio style ================== */
#portfolio {
	display: grid;
	grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
	grid-column-gap: 15px;
	grid-template-rows: 1fr 3fr 3fr 1fr;
	grid-row-gap: 15px;
	background: #f2f2f2;
}

#portfolio h1 {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
	text-align: center;
	margin-top: 3vh;
}

#portfolio > div {
	border: solid black 2px;
	cursor: pointer;
}

#portfolio img {
	max-height: 100%;
	max-width: 100%;
}

#portfolio .one {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

#portfolio .two {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

#portfolio .three {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
}

#portfolio .four {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

#portfolio .five {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}

#portfolio .six {
	grid-row: 3 / 4;
	grid-column: 4 / 5;
}

.modal {
	height: 100vh;
}

.dimmer {
	height: 100%;
	width: 100%;
}

.modal .header,
.modal .description {
	text-align: center;
}

.hidden {
	display: none;
}
/* ============ Skills Style =========== */
#skills {
	padding: 40px 2%;
}
#skills h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 45px;
}
#skills h2 {
	font-size: 30px;
}
#skills i {
	margin-right: 10px;
}
.business,
.composition {
	display: inline-block;
	vertical-align: top;
}
.business {
	width: 32%;
}
.composition {
	width: 64%;
}
.composition h2 {
	padding-left: 4%;
}
.business p {
	border: 1px solid black;
	border-radius: 50%;
	width: 115px;
	height: 115px;
	line-height: 115px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	background-color: rgba(0, 0, 0, 0.87);
	color: white;
}
.business p:hover {
	transform: rotatey(360deg);
	transition: 1s;
}
.composition-skills p {
	display: inline-block;
	width: 49%;
	font-size: 19px;
	padding-left: 5%;
}
@media (max-width: 1240px) {
	.business {
		width: 40%;
	}
	.composition {
		width: 56%;
	}
}
@media (max-width: 1000px) {
	.business,
	.composition {
		width: 96%;
	}
	.business-skills {
		text-align: center;
	}
	#skills h2 {
		padding-left: 5%;
	}
}
@media (max-width: 415px) {
	.business-skills p {
		width: 100px;
		height: 100px;
		line-height: 100px;
		font-size: 12.7px;
	}
	.composition p {
		font-size: 12.7px;
	}
}
/* ============ Contact Style =========== */
#contact {
	padding: 40px 0;
	background-color: rgba(0, 0, 0, 0.87);
}
#contact h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 45px;
	color: #f2f2f2;
}
form {
	width: 50%;
	margin: auto;
	font-size: 19px;
}
label {
	color: #f2f2f2;
	display: block;
	margin-bottom: 10px;
}
input,
textarea {
	width: 100%;
	margin-bottom: 20px !important;
	border: none;
	border-bottom: 2px solid #f2f2f2;
	background: transparent;
	caret-color: #f2f2f2;
	color: #f2f2f2;
}
input:focus,
textarea:focus {
	outline: none;
}
button {
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	border: 2px solid #f2f2f2;
	background: transparent;
	display: block;
	margin: auto !important;
	color: #f2f2f2;
	padding: 0 15px;
}
button:hover {
	opacity: 0.6;
}
@media (max-width: 600px) {
	form {
		width: 90%;
	}
}
/* ========== Footer ============  */
footer {
	text-align: center;
	padding: 40px 0;
	background: linear-gradient(to right, #e0aaa5, #d0beca, #9b9fbc);
}
footer i.icon {
	font-size: 40px;
	line-height: 40px;
	margin: 0 10px;
}
footer p {
	color: #4183c4;
	margin-top: 20px;
}
