body {
	margin: 0;
}
/*=============== Home style  =================*/
#home {
	background-image: url('../images/home.jpg');
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	position: relative;
}
.home-content {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
	color: white;
}
.home-content h3,
.home-content .icon {
	font-size: 40px;
}
.home-content .icon {
	margin: 10px 0;
	cursor: pointer;
}
.home-content h1 {
	font-size: 60px;
}
.home-content a,
.home-content a:hover {
	color: white;
}
/*================ About style ================== */
#about {
	height: 100vh;
}
#about h1 {
	text-align: center;
	margin: 20px;
	font-size: 45px;
}
.about-content {
	margin: 0 1%;
}
.education,
.hobbies,
.services {
	display: inline-block;
	width: 31%;
	margin: 1%;
	background-color: #d2d2d2;
	border-radius: 5px;
}
#about h2 {
	font-size: 30px;
	text-align: center;
}
