body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Raleway', sans-serif !important;
}
/*=============== Home style  =================*/
#home {
	background-image: url('../images/home.jpg');
	height: 100vh;
	background-size: cover;
	background-position: middle;
	position: relative;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.home-content {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
	color: white;
}
.home-content h3,
.home-content .icon {
	font-size: 40px;
}
.home-content .icon {
	margin: 10px 0;
	cursor: pointer;
}
.home-content h1 {
	font-size: 60px;
}
.home-content a,
.home-content a:hover {
	color: white;
}
/*=============== About style  =================*/
#about::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-image: url('../images/about.jpg');
	opacity: 0.7;
}
#about {
	padding: 7%;
	position: relative;
	z-index: 1;
}
#about h1 {
	display: inline-block;
	border-bottom: 2px solid;
	font-size: 45px;
}
.about-content {
	width: 1120px;
	margin: 0 auto;
}
.about-column {
	display: inline-block;
	padding-left: 10px;
	width: 350px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}
#about h2 {
	font-size: 30px;
	text-align: center;
	margin: 10px 0;
}
#about h2,
#about h3,
#about i,
#about p {
	color: #f2f2f2;
}
.about-row {
	margin: 15px 0;
}
.about-row i.icon {
	width: 10%;
	font-size: 20px;
	margin-right: 0;
}
.about-row h3 {
	display: inline;
	font-size: 20px;
}
.about-row p {
	margin: 5px 0 10px 15%;
	font-size: 15px;
}
@media (max-width: 1165px) {
	.about-content {
		/* text-align: center; */
		width: 100%;
	}
	.about-column {
		display: block;
		margin: auto;
		width: 400px;
	}
	.about-row {
		/* text-align: left; */
	}
}
@media (max-width: 600px) {
	.about-column {
		width: 95%;
	}
}
/*================ Navigation style ================== */
#nav {
	position: fixed;
	right: 8vh;
	top: 8vh;
	z-index: 2;
}

.menuView {
	height: 100vh;
	width: 11vh;
	right: 0vh !important;
	top: 0vh !important;
	text-align: center;
	background-color: #262626;
}

.nav-icon-bars {
	z-index: 1;
	cursor: pointer;
}

.nav-icon-close {
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 7.5vh;
	right: 6vw;
}

.menu-items {
	margin-top: 8vh;
	padding-left: 3px;
	height: 100vh;
	position: relative;
}

.menu-item {
	list-style-type: none;
	margin-bottom: 8vh;
	font-size: 18px;
	color: white;
	cursor: pointer;
}

.menu-item-description {
	font-size: 10px;
}

.menu-close {
	list-style-type: none;
	cursor: pointer;
	position: absolute;
	bottom: 5vw;
	left: 33%;
	margin-top: 95%;
}

.hidden {
	display: none;
}
/*================ Portfolio style ================== */
#portfolio {
	background: #f2f2f2;
	padding: 7%;
}

.portfolio-wrapper {
	display: grid;
	grid-template-columns: 0.1fr 4fr 4fr 4fr 0.1fr;
	grid-column-gap: 4vw;
	grid-template-rows: 0.5fr 3fr 3fr;
	grid-row-gap: 8vh;
}

.portfolio-header {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	text-align: left;
	width: 150px;
	border-bottom: solid black 2px;
}

.portfolio-header h1 {
	font-size: 40px;
}

.portfolio-project {
	border: solid black 2px;
	cursor: pointer;
}

.portfolio-project img {
	height: 100%;
	width: 100%;
}

.portfolio-wrapper .project-one {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.portfolio-wrapper .project-two {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

.portfolio-wrapper .project-three {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
}

.portfolio-wrapper .project-four {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

.portfolio-wrapper .project-five {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}

.portfolio-wrapper .project-six {
	grid-row: 3 / 4;
	grid-column: 4 / 5;
}

.portfolio-project .dimmer-content {
	padding: 5%;
	margin-top: 20%;
	height: 100%;
	color: white;
}

.portfolio-modal {
	height: 100vh;
}

.modal-header,
.modal-description {
	text-align: center;
}

.modal-header {
	margin-top: 10vh;
}

.modal-header-title {
	display: inline;
}

.modal-header-icon {
	float: right;
	cursor: pointer;
	display: inline;
	margin-top: 5px !important;
}

.slideshow-container {
	height: 75vh;
	width: 60vw !important;
	margin: auto;
}

.slideshow-picture {
	position: relative;
}

.slide, .previous-slide, .next-slide {
  height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
}

.previous-slide, .next-slide {
	position: absolute;
	width: 10%;
	top: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.previous-slide:hover, .next-slide:hover {
	background-color: rgba(0,0,0,0.4);
}

.previous-slide {
	left: 0%;
}

.next-slide {
	right: 0%;
}

.slideshow-indicator {
	height: 10vh;
	text-align: center;
}

.slideshow-dot {
	height: 15px;
  width: 15px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.slideshow-dot.active, .slideshow-dot:hover {
  background-color: #808080;
}

.hidden {
	display: none;
}

/* ============ Skills Style =========== */
#skills {
	padding: 7%;
	background: #f2f2f2;
}
#skills h1 {
	display: inline-block;
	border-bottom: 2px solid;
	margin-bottom: 20px;
	font-size: 45px;
}
#skills h2 {
	font-size: 30px;
}
#skills i {
	margin-right: 10px;
}
.skills-container {
	width: 1005px;
	margin: auto;
}
.business,
.composition {
	display: inline-block;
	vertical-align: top;
}
.business {
	width: 400px;
}
.composition {
	width: 600px;
}
.composition h2 {
	padding-left: 4%;
}
.business p {
	border: 1px solid black;
	border-radius: 50%;
	width: 115px;
	height: 115px;
	line-height: 115px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	background-color: rgba(0, 0, 0, 0.87);
	color: white;
}
.business p:hover {
	transform: rotatey(360deg);
	transition: 1s;
}
.composition-skills p {
	display: inline-block;
	width: 49%;
	font-size: 19px;
	padding-left: 5%;
}
@media (max-width: 1000px) {
	.skills-container,
	.business,
	.composition {
		width: 100%;
	}
	.business-skills,
	.composition {
		display: block;
		margin: auto;
	}
	.business-skills {
		text-align: center;
	}
	#skills h2 {
		padding-left: 5%;
	}
}
@media (max-width: 450px) {
	.business-skills p {
		width: 100px;
		height: 100px;
		line-height: 100px;
		font-size: 12.7px;
	}
	.composition p {
		font-size: 12.7px;
	}
}
/*================ Experience style ================== */
#experience {
	padding: 7%;
	position: relative;
	z-index: 1;
}

#experience::before {
	content: '';
	background-image: url('../images/island.jpg');
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
}

.experience-wrapper {
	margin: 0 auto;
	text-align: center;
}

.experience-header {
	margin: 0;
	text-align: left;
	border-bottom: solid black 2px;
	width: 208px;
}

.experience-header h1 {
	font-size: 40px;
}

.timeline {
	padding: 0;
	margin-top: 5%;
}

.timeline-position {
	list-style-type: none;
	width: 5px;
	margin-left: 25vw;
	padding-top: 25px;
	background: black;
}

.timeline-position::after {
	content: '';
	position: absolute;
	transform: translate(-50%, -190%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}

.position-details {
	position: relative;
	padding: 15px;
	background: rgba(0, 0, 0, 0.6);
	width: 50vw;
	border-radius: 7px;
	color: #f2f2f2;
}

.position-details-company,
.position-details-title {
	margin: 0;
	margin-bottom: 5px;
}

.position-details::before {
	content: '';
	position: absolute;
	bottom: 15px;
	border-style: solid;
}

.position-date {
	position: relative;
	display: inline-block;
	width: 500px;
	bottom: 30px;
	font-size: 20px;
	font-weight: 900;
}

.timeline-position .position-details {
	left: 45px;
}

.timeline-position .position-details::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}

.timeline-position .position-date {
	right: 540px;
	text-align: right;
}
/* ============ Contact Style =========== */
#contact {
	padding: 7%;
	background-color: rgba(0, 0, 0, 0.87);
}
#contact h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 45px;
	color: #f2f2f2;
}
form {
	width: 50%;
	margin: auto;
	font-size: 19px;
}
label {
	color: #f2f2f2;
	display: block;
	margin-bottom: 10px;
}
input,
textarea {
	width: 100%;
	margin-bottom: 20px !important;
	border: none;
	border-bottom: 2px solid #f2f2f2;
	background: transparent;
	caret-color: #f2f2f2;
	color: #f2f2f2;
}
input:focus,
textarea:focus {
	outline: none;
}
button {
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	border: 2px solid #f2f2f2;
	background: transparent;
	display: block;
	margin: auto !important;
	color: #f2f2f2;
	padding: 0 15px;
}
button:hover {
	opacity: 0.6;
}
@media (max-width: 600px) {
	form {
		width: 90%;
	}
}
/* ========== Footer ============  */
footer {
	text-align: center;
	padding: 40px 0;
	background: linear-gradient(to right, #e0aaa5, #d0beca, #9b9fbc);
}
footer i.icon {
	font-size: 40px;
	line-height: 40px;
	margin: 0 10px;
}
footer p {
	color: #4183c4;
	margin-top: 20px;
}
